<nav [@position]="position">
  <a class="home"
    routerLink="/{{home.route}}"
    >
    <app-icon class="home__icon"
      [icon]="home.icon"
      [highlighted]="false"
      >
    </app-icon>
  </a>
  <a class="link"
    *ngFor="let link of links"
    routerLink="/{{link.route}}"
    routerLinkActive="link--active"
    [routerLinkActiveOptions]="{exact: link.exactPathMatch}"
    #navigationLink="routerLinkActive"
    >
    {{link.name}}
  </a>
  <a class="signature"
    href="https://www.johnnycopes.com"
    >
    made by johnnycopes
  </a>
</nav>
