@import 'styles';

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: map-get($app, navigation-width);
  height: 100%;
  background: map-get($color, darkest-inset);
  border-right: map-get($border, thinnest) solid map-get($color, dark);
}

.icon-link {
  flex: 0;
}
