<app-small-caps-content
  *ngIf="vm$ | async as vm"
  header="Content"
  >
  <div class="top">
    <!-- <div class="top__counter">
      <span class="bold">
        {{vm.currents[overallTotalKey]}} / {{vm.totals[overallTotalKey]}}
      </span>
      possible countries in the cards.
    </div> -->
    <div class="top__buttons">
      <app-button class="top__select-all"
        buttonStyle="secondary"
        buttonText="Select all"
        (click)="onSelectAll()"
        >
        <!-- (click)="onSelectAll(vm.totals)" -->
      </app-button>
      <app-button class="top__clear-all"
        buttonStyle="secondary"
        buttonText="Clear all"
        (click)="onClearAll()"
        >
      </app-button>
    </div>
  </div>
  <div class="regions">
    <div class="region"
      *ngFor="let regionDatum of vm.regionData"
      >
      <app-icon class="region__image"
        *ngIf="regionDatum.region.name as regionName"
        [icon]="regionName"
        [highlighted]="false"
        >
        <!-- [highlighted]="!!vm.currents[regionName]" -->
      </app-icon>
      <app-nested-checkboxes-with-counts class="region__checkboxes"
        [item]="regionDatum.region"
        [treeProvider]="regionDatum.treeProvider"
        [itemTemplate]="label"
        [getTotalCount]="getTotalCount"
        [ngModel]="vm.checkboxStates"
        (ngModelChange)="onCountriesChange($event)"
        >
      </app-nested-checkboxes-with-counts>
      <ng-template
        #label
        let-id="id"
        let-isRoot="isRoot"
        let-selected="selected"
        let-total="total"
        >
        <span class="bold"
          *ngIf="isRoot; else child"
          >
          {{id}} ({{selected}} / {{total}})
        </span>
        <ng-template #child>
          <span>
            {{id}} ({{total}})
          </span>
        </ng-template>
      </ng-template>
    </div>
  </div>
</app-small-caps-content>
