@import 'styles';

.button {
  padding: map-get($spacing, 16) 0;
  width: map-get($spacing, 192);
  border: none;
  text-decoration: none;
  color: map-get($color,  darkest);
  background: map-get($color, lightest);
  font-family: $font-stack;
  font-size: map-get($font-size, 24);
  border-radius: map-get($border, radius);
  outline: none;
  cursor: pointer;

  &--primary {
    color: map-get($color, darkest);
    background: map-get($color, lightest);

    &:hover {
      background: lighten(map-get($color, lightest), 10%);
    }
  }

  &--secondary {
    color: map-get($color, lightest);
    background: map-get($color, darkest);
    border: map-get($border, thin) solid map-get($color, lightest);

    &:hover {
      background: lighten(map-get($color, darkest), 10%);
    }
  }

  &:disabled {
    background: map-get($color, medium);
    cursor: not-allowed;
  }
}
