<form class="form"
  #optionForm="ngForm"
  >
  <div class="text">
    {{text}}
  </div>
  <div class="options"
    [ngClass]="{'options--stacked-vertically': stackedVertically$ | async}"
    >
    <div class="option"
      *ngFor="let option of options"
      [ngClass]="{'option--stacked-vertically': stackedVertically$ | async}"
      >
      <input class="option__input"
        type="radio"
        name="option"
        [id]="option.display"
        [value]="option.value"
        [(ngModel)]="model.value"
        (change)="onChange(option)"
      />
      <label class="option__label"
        [for]="option.display"
        >
        {{option.display}}
      </label>
    </div>
  </div>
</form>
