@import 'styles';

:host {
  min-height: 100vh;
}

.controls {
  display: flex;
  justify-content: space-between;
  margin: 0 map-get($spacing, 24);
}

.tabs {
  display: flex;
  width: 100%;
  height: 100%;
}

.tab {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 map-get($spacing, 24);
  cursor: pointer;
  border-top: map-get($border, thin) solid transparent;
  border-bottom: map-get($border, thin) solid transparent;

  &--selected {
    border-bottom-color: map-get($color, white);
  }
}

.content {
  margin-top: calc(#{map-get($app, quiz-header-height)} + #{map-get($spacing, 48)});
}
