<ng-container *ngIf="vm$ | async as vm">
  <div class="top">
    <div class="top__counter">
      <span class="bold">
        {{vm.currents[overallTotalKey]}} / {{vm.totals[overallTotalKey]}}
      </span>
      possible countries selected.
    </div>
    <div class="top__buttons">
      <app-button class="top__select-all"
        buttonStyle="secondary"
        buttonText="Select all"
        (click)="onSelectAll()"
        >
      </app-button>
      <app-button class="top__clear-all"
        buttonStyle="secondary"
        buttonText="Clear all"
        (click)="onClearAll()"
        >
      </app-button>
    </div>
  </div>
  <div class="regions">
    <div class="region"
      *ngFor="let regionDatum of vm.regionData"
      >
      <app-icon class="region__image"
        [icon]="regionDatum.region.name"
        [highlighted]="false"
        >
      </app-icon>
      <app-nested-checkboxes-refactor class="region__checkboxes"
        [item]="regionDatum.region"
        [treeProvider]="regionDatum.treeProvider"
        [itemTemplate]="label"
        [ngModel]="vm.checkboxStates"
        (ngModelChange)="onCountriesChange($event)"
        >
      </app-nested-checkboxes-refactor>

      <ng-template
        #label
        let-id="id"
        let-isRoot="isRoot"
        >
        <span class="bold"
          *ngIf="isRoot; else child"
          >
          🌍 {{id}} ({{vm.currents[id]}} / {{vm.totals[id]}})
        </span>
        <ng-template #child>
          <span>
            {{id}} ({{vm.totals[id]}})
          </span>
        </ng-template>
      </ng-template>
    </div>
  </div>
</ng-container>
