:host {
  display: flex;
  justify-content: space-between;
}

@mixin layout($justify-content-position) {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: $justify-content-position;
  align-items: center;
}

.left {
  @include layout(flex-start);
}

.center {
  @include layout(center);
}

.right {
  @include layout(flex-end);
}
