<div class="select-countries">
  <div class="select-countries__form">
    <!-- <app-nested-checkboxes-group
      [regions]="regions"
      [allChecked]="allCountriesSelected"
      imagePath="assets/icons"
      imageType="svg"
      (modelChanged)="onCountriesChange($event)"
      >
    </app-nested-checkboxes-group> -->
  </div>
  <div class="select-countries__button">
    <app-button
      buttonStyle="primary"
      buttonText="Launch"
      [disabled]="!canStartQuiz"
      (clicked)="onClick()"
      >
    </app-button>
  </div>
</div>
