<div class="select-countries">
  <div class="select-countries__form">
    <app-nested-checkboxes-group
      [items]="regions"
      [treeProvider]="treeProvider"
      [renderer]="renderer"
      [allChecked]="true"
      [showCounters]="true"
      [showImages]="true"
      text="possible countries selected."
      (modelChanged)="onCountriesChange($event)"
      >
    </app-nested-checkboxes-group>
  </div>
  <div class="select-countries__button">
    <app-button
      buttonStyle="primary"
      buttonText="Launch"
      [disabled]="!canStartQuiz"
      (clicked)="onClick()"
      >
    </app-button>
  </div>
</div>
