<div class="select-countries">
  <div class="select-countries__form">
    <app-new-nested-checkboxes-group
      [items]="regions"
      [treeProvider]="treeProvider"
      [allChecked]="true"
      (modelChanged)="onCountriesChange($event)"
      imagePath="assets/icons"
      imageType="svg"
      >
    </app-new-nested-checkboxes-group>
  </div>
  <div class="select-countries__button">
    <app-button
      buttonStyle="primary"
      buttonText="Launch"
      [disabled]="!canStartQuiz"
      (clicked)="onClick()"
      >
    </app-button>
  </div>
</div>
