@import 'styles';

$header-height: map-get($app, header-height);

@mixin content-slot {
  height: 100%;
  width: 100%;
  padding: 0 map-get($app, gap);
}

.fixed-slideable-panel {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  transform: translateY(-100vh);
  display: flex;
  flex-direction: column;
  background: map-get($color, dark);
  z-index: map-get($z-index, fixed-slideable-panel);

  &__offset,
  &__header {
    height: $header-height;
    width: 100%;

    & ::ng-deep > * {
      @include content-slot();
    }
  }

  &__content {
    height: calc(100% - #{($header-height * 2)});
    width: 100%;

    & ::ng-deep > * {
      @include content-slot();
    }
  }
}
