
<form [formGroup]="form"
  (ngSubmit)="onSubmit()"
  >
  <ul class="guidelines"
    *ngIf="guidelines"
    >
    <li class="guideline"
      *ngFor="let guideline of guidelines"
      >
      {{guideline}}
    </li>
  </ul>
  <ng-container *ngFor="let input of inputs">
    <app-input class="input"
      [label]="input.label"
      [control]="form.get(input.name)"
      [errorMessage]="input.errorMessage"
      >
      <input
        [id]="input.label"
        [type]="input.type"
        [formControlName]="input.name"
      >
    </app-input>
  </ng-container>
  <app-button class="button"
    buttonType="submit"
    [buttonText]="buttonText"
    [disabled]="!form.valid"
    >
  </app-button>
</form>
