@import 'variables';

.button {
  padding: 15px 25px;
  min-width: 10rem;
  border: none;
  text-decoration: none;
  color: map-get($color,  darkest);
  background: map-get($color, lightest);
  font: $sans-serif;
  font-size: map-get($font-size, button);
  border-radius: $border-radius;
  outline: none;
  cursor: pointer;

  &--primary {
    color: map-get($color, darkest);
    background: map-get($color, lightest);

    &:hover {
      background: lighten(map-get($color, lightest), 10%);
    }
  }

  &--secondary {
    color: map-get($color, lightest);
    background: map-get($color, darkest);
    border: map-get($border, thin) solid map-get($color, lightest);

    &:hover {
      background: lighten(map-get($color, darkest), 10%);
    }
  }

  &--huge {
    padding: 3rem 8rem;
    font-size: map-get($font-size, header);
  }

  &:disabled {
    background: map-get($color, medium);
    cursor: not-allowed;
  }
}
