@import 'styles';

$toolbar-width: map-get($spacing, 384);

.container {
  display: grid;
  grid-template-columns: [toolbar] $toolbar-width [details] 1fr;
  grid-gap: map-get($spacing, 24);
}

.toolbar {
  grid-column: toolbar;
  position: fixed;
  width: $toolbar-width;
}

.list {
  overflow: auto;
  @include custom-scrollbar;

  &__item {
    padding: map-get($spacing, 12);
    background: map-get($color, dark);
    border-radius: map-get($border, radius);
    cursor: pointer;

    &:last-child {
      margin-bottom: 0 !important;
    }

    &--selected {
      background: map-get($color, light);
      color: map-get($color, darkest);
    }
  }
}

.details {
  grid-column: details;
}
