<label class="checkbox">
  <input class="checkbox__input"
    #checkboxInput
    type="checkbox"
    [value]="value"
    [indeterminate]="isIndeterminate"
  />
  <span class="checkbox__element"></span>
  <span class="checkbox__label">
    {{ value }}
    <span class="checkbox__tally">
      <span *ngIf="tally.current !== undefined">
        ({{ tally.current }} / {{ tally.total }})
      </span>
      <span *ngIf="tally.current === undefined">
        ({{ tally.total }})
      </span>
    </span>
  </span>
</label>
