<label class="checkbox"
  [ngClass]="{'checkbox--inverted': invertColors}"
  >
  <input class="checkbox__input"
    [value]="value"
    [indeterminate]="state === 'indeterminate'"
    [checked]="state === 'checked'"
    (change)="onChange()"
    type="checkbox"
    />
  <span class="checkbox__element"></span>
  <span class="checkbox__label"
    [ngClass]="{'checkbox-label--active': checkboxState !== 'unchecked'}"
    >
    <ng-content></ng-content>
  </span>
</label>


<!-- {{subcategory.name}}
<span class="bold">
  ({{subcategory.total}})
</span> -->
