<app-form
  [formGroup]="form"
  [error]="formError$ | async"
  buttonText="Sign In"
  (submitted)="login($event)"
  >
  <app-input
    label="Username"
    errorMessage="Username is required"
    [showError]="username.status === 'INVALID' && username.touched"
    >
    <input
      id="Username"
      type="text"
      formControlName="username"
    />
  </app-input>
  <app-input
    label="Password"
    errorMessage="Password is required"
    [showError]="password.status === 'INVALID' && password.touched"
    >
    <input
      id="Password"
      type="password"
      formControlName="password"
    />
  </app-input>
</app-form>
