<app-form [formGroup]="form"
  [guidelines]="guidelines"
  buttonText="Register"
  (submitted)="register($event)"
  >
  <app-input class="input"
    label="Username"
    [showError]="!username.valid && username.touched"
    errorMessage="Username is required"
    >
    <input
      id="Username"
      type="text"
      formControlName="username"
    >
  </app-input>
  <app-input class="input"
    label="Password"
    [showError]="!password.valid && password.touched"
    errorMessage="Password is required"
    >
    <input
      id="Password"
      type="password"
      formControlName="password"
    >
  </app-input>
  <app-input class="input"
    label="Confirm Password"
    [showError]="
      form.errors?.differentPasswords &&
      password.touched &&
      confirmPassword.touched
    "
    errorMessage="Passwords don't match"
    >
    <input
      id="Confirm Password"
      type="password"
      formControlName="confirmPassword"
    >
  </app-input>
</app-form>
