@import 'styles';

.top {
  display: flex;
  justify-content: space-between;
  margin-bottom: map-get($spacing, 32);
}

.name {
  font-size: map-get($font-size, 48);
  margin-bottom: map-get($spacing, 24);
  font-weight: map-get($font-weight, bold);
}

.capital {
  font-size: map-get($font-size, 36);
  margin-bottom: map-get($spacing, 32);
}

.flag {
  height: map-get($spacing, 128);
  margin-left: map-get($spacing, 48);
}

app-info-table {
  grid-template-rows: repeat(2, map-get($spacing, 128));
  grid-template-columns: repeat(4, 25%);
}

.summary {
  line-height: map-get($line-height, normal);
  margin-bottom: map-get($spacing, 32);
}
