<div class="top">
  <div class="top__details">
    <h1 class="name">
      {{country.name}}
    </h1>
    <h2 class="capital">
      {{country.capital}}
    </h2>
  </div>
  <img class="flag"
    [src]="country.flag"
    alt="Flag of {{country.name}}"
  />
</div>
<div class="table">
  <app-small-caps-content
    *ngFor="let tableDatum of tableData"
    [header]="tableDatum.header"
    [template]="tableDatum?.template"
    >
    {{tableDatum?.content}}
  </app-small-caps-content>
</div>
<p class="summary">
  {{summary}}
</p>



<ng-template #language>
  <ng-container *ngTemplateOutlet="list; context: {
    items: country.languages,
    key: 'name'
  }"
  >
  </ng-container>
</ng-template>

<ng-template #currency>
  <ng-container *ngTemplateOutlet="list; context: {
    items: country.currencies,
    key: 'code'
  }"
  >
  </ng-container>
</ng-template>

<ng-template #population>
  {{country.population | number}}
</ng-template>

<ng-template #size>
  <div>
    {{country.area | number}} km<sup>2</sup>
  </div>
  <div>
    {{country.area | measurement:'sqKm':'sqMi' | number:'0.0-0'}} mi<sup>2</sup>
  </div>
</ng-template>

<ng-template #list
  let-items="items"
  let-key="key"
  >
  <span *ngFor="let item of items; last as last">
    {{ item[key] }}{{ !last ? ',' : '' }}
  </span>
</ng-template>

