@import 'styles';

.back {
  width: map-get($spacing, 24);
}

.prompt {
  font-weight: map-get($font-weight, bold);
}

.details {
  font-size: map-get($font-size, 20);
  text-align: right;

  &__tally {
    margin-bottom: map-get($spacing, 8);
  }
}

.outcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text {
  font-size: map-get($font-size, 36);
  margin-bottom: map-get($spacing, 16);
}

.accuracy {
  font-size: map-get($font-size, 128);
  margin-bottom: map-get($spacing, 16);
}

.reset {
  margin-right: map-get($spacing, 16);
}
