@import 'styles';

.nested-checkboxes {
  display: flex;
  flex: 0 1 50%;
  align-items: center;
  position: relative;

  &__image {
    $image-size: map-get($spacing, 192);
    width: $image-size;
    padding-right: 2rem;

    &--inactive {
      opacity: 0.4;
    }
  }

  &__selection {
    display: flex;
    flex-direction: column;
  }

  &__checkbox {
    position: relative;
    margin-bottom: map-get($spacing, 4);

    &--bold {
      font-weight: map-get($font-weight, bold);
    }
  }

  &__child {
    margin-left: map-get($spacing, 24);
  }
}
