@import 'styles';

.region {
  display: flex;
  flex: 0 1 50%;
  align-items: center;
  padding: map-get($spacing, 16) 0;
  position: relative;

  &__icon {
    $icon-size: map-get($spacing, 192);
    width: $icon-size;
    padding-right: 2rem;

    &-cover {
      position: absolute;
      width: $icon-size;
      height: $icon-size;
      transform: translateY(-50%);
      top: 50%;
      left: 0;
      z-index: map-get($z-index, positive);
      background: map-get($color, darkest);
      filter: blur(50px);
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    max-width: 300px;

    @include large-desktop {
      max-width: none;
    }
  }

  &__checkbox {
    font-weight: map-get($font-weight, bold);
    position: relative;
    margin-bottom: map-get($spacing, 4);
  }
}

.subregion {

  &__checkbox {
	  margin-bottom: map-get($spacing, 4);
    margin-left: map-get($spacing, 24);
  }
}
