<main class="region">
  <img class="region__icon"
    *ngIf="imagePath"
    [src]="imagePath"
    alt="{{region.name}}"
  />
  <div class="region__icon-cover"
    *ngIf="imagePath && regionModel.checkboxState === 'unchecked'"
  ></div>
  <section class="region__wrapper">
    <app-checkbox class="region__checkbox"
      [invertColors]="true"
      [value]="region.name"
      [state]="regionModel.checkboxState"
      (changed)="onRegionChange($event)"
      >
      {{region.name}} ({{regionModel.current}} / {{regionModel.total}})
    </app-checkbox>
    <app-checkbox class="subregion__checkbox"
      *ngFor="let subregion of region.subregions"
      [value]="subregion.name"
      [state]="lookup(subregion).checkboxState"
      (changed)="onSubregionChange($event, subregion)"
      >
      {{subregion.name}} ({{lookup(subregion).total}})
    </app-checkbox>
  </section>
</main>
