<div class="nested-checkboxes">
  <img class="nested-checkboxes__image"
    *ngIf="imagePath"
    [ngClass]="{'nested-checkboxes__image--inactive': !imageActive}"
    [src]="imagePath"
    alt="{{itemDisplayName}}"
  />
  <div class="nested-checkboxes__selection">
    <app-checkbox class="nested-checkboxes__checkbox"
      [ngClass]="{'nested-checkboxes__checkbox--bold': isRoot}"
      [invertColors]="isRoot"
      [ngModel]="checkboxStates && checkboxStates[itemID]"
      (ngModelChange)="updateSelectedCheckboxState($event)"
      >
      <app-counter
        [current]="current"
        [total]="total"
        [text]="itemDisplayName"
        [boldText]="isRoot"
        [boldNumbers]="isRoot"
        [wrapNumbers]="true"
        [textFirst]="true"
        >
      </app-counter>
    </app-checkbox>
    <app-nested-checkboxes class="nested-checkboxes__child"
      *ngFor="let childItem of childItems"
      [item]="childItem"
      [isRoot]="false"
      [showCounters]="showCounters"
      [treeProvider]="treeProvider"
      [renderer]="renderer"
      [ngModel]="checkboxStates"
      (ngModelChange)="updateAllCheckboxStates($event)"
    ></app-nested-checkboxes>
  </div>
</div>
