<form class="form"
  #quantityForm="ngForm"
  >
  <span>Number of countries to include in the quiz:</span><br><br>
  <main class="quantities">
    <div class="quantity"
      *ngFor="let quantity of quantities"
      >
      <input class="quantity__input"
        [id]="quantity.display"
        [value]="quantity.value"
        [(ngModel)]="model.quantity"
        type="radio"
        name="quantity"
        />
      <label class="quantity__label"
        [for]="quantity.display"
        >
        {{quantity.display}}
      </label>
    </div>
  </main>
</form>
