<ng-container *ngIf="vm$ | async as vm">
  <app-fixed-slideable-panel
    [position]="vm.position"
    (animationFinished)="onMenuAnimationFinish($event)"
    >
    <app-container class="progress"
      header
      *ngIf="!vm.quiz.isComplete"
      >
      <app-icon class="back"
        left
        icon="Cancel"
        [highlighted]="true"
        (clicked)="onBack()"
        >
      </app-icon>
      <p class="prompt"
        center>
        {{vm.prompt}}
      </p>
      <div class="details"
        right
        >
        <h4 class="details__tally">
          {{vm.quiz.correctGuesses}} / {{vm.quiz.totalCountries}}
        </h4>
        <h4 class="details__guess">
          Guess #{{vm.quiz.guess}}
        </h4>
      </div>
    </app-container>
    <div class="outcome"
      content
      *ngIf="vm.quiz.isComplete"
      >
      <p class="text">
        Quiz complete! You scored
      </p>
      <h1 class="accuracy">
        {{vm.quiz.accuracy}}%
      </h1>
      <app-button class="reset"
        buttonStyle="primary"
        buttonText="Reset"
        (click)="onBack()"
        >
      </app-button>
    </div>
  </app-fixed-slideable-panel>
</ng-container>
