@import 'styles';

.launchpad {
  display: flex;
  justify-content: space-between;
  margin-bottom: map-get($spacing, 32);
}

.header {
  font-size: map-get($font-size, 36);
  font-weight: map-get($font-weight, bold);
}

.fields {

  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: map-get($spacing, 24)
  }
}
