<div class="wrapper"
  @fadeIn
  >
  <div class="launchpad">
    <h1 class="header">
      Create Quiz
    </h1>
    <app-button
      buttonText="Launch"
      buttonStyle="primary"
      [disabled]="!canStartQuiz"
      (clicked)="onLaunch()"
      >
    </app-button>
  </div>
  <div class="fields">
    <div class="fields__top">
      <app-small-caps-content header="Type">
        <app-select-type></app-select-type>
      </app-small-caps-content>
      <app-small-caps-content header="Quantity">
        <app-select-quantity></app-select-quantity>
      </app-small-caps-content>
    </div>
    <app-small-caps-content header="Content">
      <app-select-countries></app-select-countries>
    </app-small-caps-content>
  </div>
</div>
