<!-- {{selectionForm.value | json}} -->
<form class="selection"
  [formGroup]="selectionForm"
  (ngSubmit)="onSubmit()"
  >
  <div class="total">
    {{selectionTally.total}} / {{countries.length}} countries selected <button type="submit">Start</button>
    <div class="buttons">
      <button (click)="onSelectAll()">
        Select all
      </button>
      <button (click)="onClearAll()">
        Clear all
      </button>
    </div>
  </div>
  <div class="regions">
    <div class="region"
      *ngFor="let region of regions"
      >
      <div [formGroupName]="region">
        <input class="region__checkbox"
          #regionInput
          type="checkbox"
          [id]="region"
          [value]="region"
          formControlName="checked"
          [indeterminate]="selectionForm.value[region].indeterminate"
          (change)="onRegionChange(regionInput)"
        />
        <label class="region__label"
          [for]="region"
          >
          {{region}} ({{selectionTally[region]}} / {{countriesByRegion[region].length}})
        </label>
      </div>
      <div class="subregion"
        *ngFor="let subregion of subregionsByRegion[region]"
        >
        <input class="subregion__checkbox"
          #subregionInput
          type="checkbox"
          [id]="subregion"
          [value]="subregion"
          [formControlName]="subregion"
          (change)="onSubregionChange(regionInput)"
          />
        <label class="subregion__label"
          [for]="subregion"
          >
          {{subregion}} ({{countriesBySubregion[subregion].length}})
        </label>
      </div>
    </div>
  </div>
</form>
