<main class="select"
  @fadeIn
  >
  <div class="select__form">
    <div @fadeIn *ngIf="currentStage === 1">
      <app-select-quantity></app-select-quantity>
    </div>
    <div @fadeIn *ngIf="currentStage === 2">
      <app-select-countries [allCountriesSelected]="allCountriesSelected"></app-select-countries>
    </div>
  </div>
  <div class="select__button">
    <app-button
      buttonStyle="primary"
      buttonType="submit"
      [buttonText]="buttonText"
      [disabled]="currentStage === 2 && !canStartQuiz"
      (clicked)="onSubmit()"
      >
    </app-button>
  </div>
</main>
