<main class="select"
  @fadeIn
  >
  <h1 class="header">
    Globetrotter
  </h1>
  <div class="divider">
    <hr class="divider__line">
    <img class="divider__icon"
      src="assets/icons/Globetrotter.svg"
      alt="Globetrotter logo"
    />
  </div>
  <app-radio-buttons
    [options]="quantities"
    text="Number of countries to include in the quiz:"
    >
  </app-radio-buttons>
  <app-nested-checkboxes
    [data]="countries"
    category="region"
    subcategory="subregion"
    >
  </app-nested-checkboxes>
  <app-button class="start"
    buttonStyle="primary"
    buttonType="submit"
    buttonText="Start"
    buttonSize="huge"
    >
    <!-- TODO: put these back inside the app-button -->
    <!-- [isDisabled]="!countryTally.total"
    (onClick)="onSubmit(!countryTally.total)" -->
  </app-button>
</main>
