@import 'styles';

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quit {
  flex: 1;

  &__icon {
    width: map-get($spacing, 24);
    cursor: pointer;
  }
}

.tabs {
  flex: 1 0 10%;
  display: flex;
  height: 100%;
}

.tab {
  flex: 1;
}

.launch {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
