@import 'styles';

.button {
  padding: map-get($spacing, 8) 0;
  width: map-get($spacing, 128);
  border: none;
  text-decoration: none;
  color: map-get($color, darkest);
  background: map-get($color, lightest);
  font-family: $font-stack;
  font-size: map-get($font-size, 20);
  border: map-get($border, thin) solid map-get($color, lightest);
  border-radius: map-get($border, radius);
  outline: none;
  cursor: pointer;

  &--primary {
    color: map-get($color, darkest);
    background: map-get($color, lightest);

    &:hover {
      background: lighten(map-get($color, lightest), 10%);
    }

    &:disabled {
      background: map-get($color, medium);
    }
  }

  &--secondary {
    color: map-get($color, lightest);
    background: transparent;

    &:hover {
      background: lighten(map-get($color, darkest), 10%);
    }

    &:disabled {
      color: map-get($color, medium);
    }
  }

  &:disabled {
    border-color: map-get($color, medium);
    cursor: not-allowed;
  }

  @include tablet {
    width: map-get($spacing, 192);
    font-size: map-get($font-size, 24);
  }
}
