<div class="nested-checkboxes">
  <app-icon class="nested-checkboxes__image"
    *ngIf="showImage"
    [icon]="iconName"
    [highlighted]="imageActive"
    >
  </app-icon>
  <div class="nested-checkboxes__selection">
    <app-checkbox class="nested-checkboxes__checkbox"
      [ngClass]="{'nested-checkboxes__checkbox--bold': isRoot}"
      [invertColors]="isRoot"
      [ngModel]="checkboxStates && checkboxStates[itemID]"
      (ngModelChange)="updateSelectedCheckboxState($event)"
      >
      <app-counter
        [current]="current"
        [total]="total"
        [text]="itemDisplayName"
        [boldText]="isRoot"
        [boldNumbers]="isRoot"
        [wrapNumbers]="true"
        [textFirst]="true"
        >
      </app-counter>
    </app-checkbox>
    <app-nested-checkboxes class="nested-checkboxes__child"
      *ngFor="let childItem of childItems"
      [item]="childItem"
      [isRoot]="false"
      [showCounters]="showCounters"
      [treeProvider]="treeProvider"
      [ngModel]="checkboxStates"
      (ngModelChange)="updateAllCheckboxStates($event)"
    ></app-nested-checkboxes>
  </div>
</div>
