<main class="select-home">
  checkbox1: {{checkbox1}}
  checkbox2: {{checkbox2}}
  checkbox3: {{checkbox3}}
  <app-checkbox
    [(ngModel)]="checkbox1"
  >
	</app-checkbox>
  <app-checkbox
    [(ngModel)]="checkbox2"
  >
	</app-checkbox>
  <app-checkbox
    [(ngModel)]="checkbox3"
  >
	</app-checkbox>
  <!-- <h1 class="title">
    Globetrotter
  </h1>
  <div class="divider">
    <hr class="divider__line">
    <img class="divider__icon"
      src="assets/icons/Globetrotter.svg"
      alt="Globetrotter logo"
    />
  </div>
  <app-button
    buttonStyle="primary"
    buttonType="submit"
    buttonText="Embark"
    (clicked)="onClick()"
    >
  </app-button> -->
</main>
