<form class="form"
  [formGroup]="form"
  >
  <div class="total">
    <div class="total__tally">
      <span class="total__tally-number">
        {{tally.total}} / {{data.length}}&nbsp;
      </span>
      <span class="total__tally-words">
        possible countries selected.
      </span>
    </div>
    <div class="buttons">
      <app-button class="buttons__select-all"
        buttonStyle="secondary"
        buttonType="button"
        buttonText="Select all"
        (onClick)="onSelectAll()"
        >
      </app-button>
      <app-button class="buttons__clear-all"
        buttonStyle="secondary"
        buttonType="button"
        buttonText="Clear all"
        (onClick)="onClearAll()"
        >
      </app-button>
    </div>
  </div>
  <div class="categories">

    <app-nested-checkboxes class="category"
      *ngFor="let category of categories"
      [category]="category"
      [subcategories]="subcategoriesByCategory[category]"
      [dataByCategory]="dataByCategory[category]"
      [dataBySubcategory]="dataBySubcategory"
      [tally]="tally"
    ></app-nested-checkboxes>

    <div class="category"
      *ngFor="let category of categories"
      >
      <img class="category__icon"
        src="assets/icons/{{category}}.svg"
        [alt]="category"
      />
      <div class="category__icon-cover"
        *ngIf="!tally[category]"
      ></div>
      <section class="category__wrapper">
        <label class="category__checkbox"
          [formGroupName]="category"
          >
          <input class="category__checkbox-input"
            #categoryInput
            [id]="category"
            [value]="category"
            [indeterminate]="form.value[category].indeterminate"
            (change)="onCategoryChange(categoryInput)"
            formControlName="checked"
            type="checkbox"
          />
          <span class="category__checkbox-element"></span>
          <span class="category__checkbox-label">
            {{category}} <span class="bold">({{tally[category]}} / {{dataByCategory[category].length}})</span>
          </span>
        </label>
        <label class="subcategory__checkbox"
          *ngFor="let subcategory of subcategoriesByCategory[category]"
          >
          <input class="subcategory__checkbox-input"
            #subcategoryInput
            [id]="subcategory"
            [value]="subcategory"
            [formControlName]="subcategory"
            (change)="onSubcategoryChange(categoryInput)"
            type="checkbox"
            />
          <span class="subcategory__checkbox-element"></span>
          <span class="subcategory__checkbox-label">
            {{subcategory}} <span class="bold">({{dataBySubcategory[subcategory].length}})</span>
          </span>
        </label>
      </section>
    </div>
  </div>
</form>
