<form class="form">
  <div class="total">
    <div class="total__tally">
      <span class="total__tally-number">
        {{model.current}} / {{model.total}}&nbsp;
      </span>
      <span class="total__tally-text">
        possible countries selected.
      </span>
    </div>
    <div class="buttons">
      <app-button class="buttons__select-all"
        buttonStyle="secondary"
        buttonType="button"
        buttonText="Select all"
        (onClick)="onSelectAll()"
        >
      </app-button>
      <app-button class="buttons__clear-all"
        buttonStyle="secondary"
        buttonType="button"
        buttonText="Clear all"
        (onClick)="onClearAll()"
        >
      </app-button>
    </div>
  </div>
  <div class="categories">
    <app-nested-checkboxes class="category"
      *ngFor="let category of newDataByCategory"
      [data]="category"
      [startingValue]="entireFormSelected"
      (modelChanged)="onModelChange($event)"
      imagePath="assets/icons/{{category.name}}.svg"
    ></app-nested-checkboxes>
  </div>
</form>
