@import 'styles';

.link {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: map-get($spacing, 32);
  color: map-get($color, light);

  &--active {
    color: map-get($color, lightest);
    font-weight: map-get($font-weight, bold);
  }

  &__logo {
    margin-bottom: map-get($spacing, 4);
  }

  &__text {
    font-size: map-get($font-size, 14);
  }
}
