@import 'styles';

$height: calc(100vh - #{map-get($app, navigation-height)});

.content {
  padding-top: map-get($app, navigation-height);

  &__wrapper {
    @include quiz-width;
    min-height: $height;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &--no-scroll {
      height: $height;
      overflow: hidden;
    }
  }
}
