@import 'variables';

:host {
  margin-bottom: 20px;
  flex: 0 1 300px;
  perspective: 800px;
}

.quiz-card {
  color: map-get($color, darkest);
  position: relative;
  width: 300px;
  height: 300px;
  transform-style: preserve-3d;

  &__side {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    cursor: pointer;
    user-select: none;
    padding: 20px;
    text-align: center;

    &--correct {
      border: 20px solid limegreen;
    }

    &--incorrect {
      border: 20px solid crimson;
    }
  }

  &__front {
    background: map-get($color, light);
  }

  &__back {
    background: map-get($color, lightest);
    transform: rotateY(180deg);
  }
}

p {
  margin-bottom: 2rem;
}

img {
  max-width: 200px;
  max-height: 150px;
}
