<div class="nested-checkboxes"
  [ngClass]="{'nested-checkboxes--padding': firstInstance}"
  >
  <img class="nested-checkboxes__icon"
    *ngIf="imagePath"
    [ngClass]="{'nested-checkboxes__icon--inactive': !imageActive}"
    [src]="imagePath"
    alt="{{treeProvider.getItemDisplayName(item)}}"
  />
  <div class="nested-checkboxes__selection">
    <app-checkbox class="nested-checkboxes__checkbox"
      [ngClass]="{'nested-checkboxes__checkbox--bold': firstInstance}"
      [invertColors]="firstInstance"
      [ngModel]="checkboxStates && checkboxStates[treeProvider.getItemID(item)]"
      (ngModelChange)="updateCheckboxState($event)"
      >
      {{treeProvider.getItemDisplayName(item)}}
      ({{current}} / {{treeProvider.getItemTotal(item)}})
    </app-checkbox>
    <app-new-nested-checkboxes class="nested-checkboxes__child"
      *ngFor="let childItem of childItems"
      [item]="childItem"
      [treeProvider]="treeProvider"
      [ngModel]="checkboxStates"
      (ngModelChange)="updateAllCheckboxStates($event)"
    ></app-new-nested-checkboxes>
  </div>
</div>
