<div class="nested-checkboxes"
  [ngClass]="{'nested-checkboxes--padding': firstInstance}"
  >
  <img class="nested-checkboxes__image"
    *ngIf="imagePath"
    [ngClass]="{'nested-checkboxes__image--inactive': !imageActive}"
    [src]="imagePath"
    alt="{{itemDisplayName}}"
  />
  <div class="nested-checkboxes__selection">
    <app-checkbox class="nested-checkboxes__checkbox"
      [ngClass]="{'nested-checkboxes__checkbox--bold': firstInstance}"
      [invertColors]="firstInstance"
      [ngModel]="checkboxStates && checkboxStates[itemID]"
      (ngModelChange)="updateSelectedCheckboxState($event)"
      >
      {{itemDisplayName}}
      <ng-template [ngIf]="displayCounters">
        (<ng-template [ngIf]="current !== undefined">{{current}} / </ng-template>{{total}})
      </ng-template>
    </app-checkbox>
    <app-new-nested-checkboxes class="nested-checkboxes__child"
      *ngFor="let childItem of childItems"
      [item]="childItem"
      [firstInstance]="false"
      [displayCounters]="displayCounters"
      [treeProvider]="treeProvider"
      [ngModel]="checkboxStates"
      (ngModelChange)="updateAllCheckboxStates($event)"
    ></app-new-nested-checkboxes>
  </div>
</div>
