<app-fixed-slideable-panel class="controls"
  [position]="position"
  >
  <div app-fixed-slideable-panel-header>
    <div class="controls__left">
      <ng-content select="[app-tabset-controls-left]"></ng-content>
    </div>
    <ul class="tabs">
      <li class="tab"
        *ngFor="let tab of tabs"
        [ngClass]="{'tab--selected': tab.selected}"
        (click)="selectTab(tab)"
        >
        {{tab.title}}
      </li>
    </ul>
    <div class="controls__right">
      <ng-content select="[app-tabset-controls-right]"></ng-content>
    </div>
  </div>
</app-fixed-slideable-panel>

<div class="content">
  <ng-content select="[app-tabset-content]"></ng-content>
</div>
