<app-fixed-slideable-panel [position]="position">
  <div app-fixed-slideable-panel-header>
    <ul class="tabs">
      <li class="tab"
        *ngFor="let tab of tabs"
        [ngClass]="{'tab--selected': tab.selected}"
        (click)="selectTab(tab)"
        >
        {{tab.title}}
      </li>
    </ul>
    <div class="controls__slot">
      <ng-content select="[app-tabset-controls]"></ng-content>
    </div>
  </div>
</app-fixed-slideable-panel>

<div class="content">
  <ng-content select="[app-tabset-content]"></ng-content>
</div>
