<ng-template #defaultTabsTemplate>
  <ul class="tabs">
    <li class="tab"
      *ngFor="let tab of tabs"
      [ngClass]="{'tab--selected': tab.selected}"
      (click)="selectTab(tab)"
      >
      {{tab.name}}
    </li>
  </ul>
</ng-template>

<ng-container *ngTemplateOutlet="
  tabsTemplate ? tabsTemplate : defaultTabsTemplate;
  context: {
    tabs: this.tabs,
    selectTab: this.selectTab
  }"
  >
</ng-container>
<div class="content"
  [@visibility]="tabsVisibility"
  @fadeIn
  >
  <ng-content select="[app-tabset-content]"></ng-content>
</div>
