@import 'styles';

$list-width: map-get($spacing, 384);

.container {
  display: grid;
  grid-template-columns: [list] $list-width [details] 1fr;
}

.list {
  grid-row: 1;
  grid-column: list;
  margin-right: map-get($spacing, 12);
  position: fixed;
  width: $list-width;
  overflow: auto;

  &__item {
    margin-bottom: map-get($spacing, 12);
    padding: map-get($spacing, 12);
    background: map-get($color, dark);
    border-radius: map-get($border, radius);
    cursor: pointer;

    &--selected {
      background: map-get($color, light);
      color: map-get($color, darkest);
    }
  }
}

.details {
  grid-row: 1;
  grid-column: details;
  padding-left: map-get($spacing, 12);
}
