<main class="app">
  <nav class="app__nav">
    <img class="app__nav-home"
      *ngIf="selection"
      src="assets/icons/Globetrotter.svg"
      [alt]="Home"
      (click)="reset()"
    />
  </nav>
  <div class="app__content">
    <app-home *ngIf="!started"
      (started)="onStart($event)"
    ></app-home>
    <app-select *ngIf="started && !selection"
      (selectionMade)="onSelectionMade($event)"
    ></app-select>
    <app-quiz *ngIf="started && selection"
      [selection]="selection"
    ></app-quiz>
  </div>
</main>
