.app {
  max-width: 940px;
  margin: 120px auto 20px;

  &__header {
    position: fixed;
    left: 10px;
    top: 50%;
    writing-mode: vertical-lr;
    transform: rotate(180deg) translateY(50%);
  }
}
