@import 'variables';


// TODO: establish consistent visual hierarchy, fix margin values and
// spacing between elements (bottom margin as much as possible rather
// than top
.app {

  &__nav {
    position: fixed;
    left: 10px;
    top: 50%;
    writing-mode: vertical-lr;
    // transform: rotate(180deg) translateY(50%); // for words
    // transform: rotate(270deg); // for FA icon
    z-index: map-get($z-index, app-menu);
    cursor: pointer;
  }

  &__content {
    margin: 0 auto;
    max-width: 1550px;
    width: 90%;
    padding: 15vh 0 5vh;
  }
}
