@import 'styles';

.options {
  display: flex;
  justify-content: space-between;

  &--stacked {
    flex-direction: column;
  }
}

.option {
  margin-right: map-get($spacing, 24);

  &:last-child {
    margin-right: 0;
  }

  &--stacked {
    margin-bottom: map-get($spacing, 24);

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__label {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0 map-get($spacing, 24);
    height: map-get($spacing, 48);
    font-size: map-get($font-size, 20);
    border: map-get($border, thin) solid map-get($color, medium);
    color: map-get($color, medium);
    transition: map-get($transition, border);
    border-radius: map-get($border, radius);
    cursor: pointer;
  }

  &__input {
    visibility: hidden;
    position: absolute;
    left: -100vh;
    opacity: 0;
  }

  &__input:checked ~ .option__label {
    color: map-get($color, lightest);
    border: map-get($border, medium) solid map-get($color, lightest);
    font-weight: map-get($font-weight, bold);
  }
}
