/* TODO:
  - rename __label into __checkbox class
  - extract these inputs into a reusable component
  - make indeterminate states trigger something cool for parents
*/

@import 'variables';

.form {
  display: grid;
  margin: 40px 0 80px;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  &__tally {
    display: flex;
    align-items: center;

    &-number {
      font-size: 4rem;
      font-weight: 700;
    }
  }
}

.buttons {

  &__select-all {
    margin-right: 10px;
  }
}

.regions {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.region {
  display: flex;
  flex: 0 1 50%;
  align-items: center;
  padding: 2rem 0;

  &__icon {
    height: 15rem;
  }

  &__wrapper {
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
  }

  &__checkbox {

    // create a custom checkbox
    &-element {
      position: absolute;
      top: 50%;
      left: 0;
      height: 20px;
      width: 20px;
      transform: translateY(-50%);
      border: map-get($border, thin) solid map-get($color, lightest);
      user-select: none;

      // create a custom checkmark
      &::after {
        content: "";
        position: absolute;
        display: none;
      }
    }
  }

  // the <label> of the checkbox becomes the container
  &__label {
    font-weight: 700;
    position: relative;
    padding-left: 35px;
    margin-bottom: 5px;

    // hide the default checkbox input
    input {
      position: absolute;
      opacity: 0;
      display: none;
    }

    // style the custom checkbox when the default checkbox input is checked
    input:checked ~ .region__checkbox-element {
      background: map-get($color, lightest);
    }

    // style the custom checkmark when the default checkbox input is checked
    input:checked ~ .region__checkbox-element::after {
      display: block;
      left: 4px;
      top: 0px;
      width: 8px;
      height: 13px;
      border: solid map-get($color, darkest);
      border-width: 0 map-get($border, thin) map-get($border, thin) 0;
      transform: rotate(45deg);
    }

    // make the label text brighter when selected
    // input:indeterminate ~ .region__checkbox-label,
    // input:checked ~ .region__checkbox-label {

    // }
  }
}

// the <label> of the checkbox becomes the container
.subregion {

  &__checkbox {
    margin-left: 20px;

    // create a custom checkbox
    &-element {
      position: absolute;
      top: 5px;
      left: 0;
      height: 20px;
      width: 20px;
      border: map-get($border, thin) solid map-get($color, lightest);
      user-select: none;

      // create a custom checkmark
      &::after {
        content: "";
        position: absolute;
        display: none;
      }
    }

    &-label {
      color: map-get($color, medium);
    }
  }

  &__label {
    position: relative;
    padding-left: 35px;
    margin-left: 20px;
	  margin-bottom: 5px;

    // hide the default checkbox input
    input {
      position: absolute;
      opacity: 0;
      display: none;
    }

    // style the custom checkbox when the default checkbox input is checked
    // input:checked ~ .subregion__checkbox-element {

    // }

    // style the custom checkmark when the default checkbox input is checked
    input:checked ~ .subregion__checkbox-element::after {
      display: block;
      left: 4px;
      top: 0px;
      width: 8px;
      height: 13px;
      border: solid map-get($color, lightest);
      border-width: 0 map-get($border, thin) map-get($border, thin) 0;
      transform: rotate(45deg);
    }

    // make the label text brighter when selected
    input:indeterminate ~ .subregion__checkbox-label,
    input:checked ~ .subregion__checkbox-label {
      color: map-get($color, lightest);
    }
  }
}
