@import 'variables';

.form {
  display: grid;
  margin: 40px 0 80px;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  &__tally {
    display: flex;
    align-items: center;

    &-number {
      font-size: 4rem;
      font-weight: 700;
    }
  }
}

.buttons {

  &__select-all {
    margin-right: 10px;
  }
}

.regions {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.region {
  display: flex;
  flex: 0 1 50%;
  align-items: center;
  padding: 2rem 0;

  &__label {
    font-weight: 700;
  }

  &__icon {
    height: 15rem;
  }

  &__wrapper {
    padding: 0 2rem;
  }
}

.subregion {
  padding-left: 2rem;
}

input + label {
  color: map-get($color, medium);
}

input:indeterminate + label,
input:checked + label {
  color: map-get($color, lightest);
}
