<form class="form"
  [formGroup]="form"
  >
  <div class="total">
    <div class="total__tally">
      <span class="total__tally-number">
        {{tally.total}} / {{totalCountries}}&nbsp;
      </span>
      <span class="total__tally-words">
        possible countries selected.
      </span>
    </div>
    <div class="buttons">
      <app-button class="buttons__select-all"
        buttonStyle="secondary"
        buttonType="button"
        buttonText="Select all"
        (click)="onSelectAll()"
        >
        Clear all
      </app-button>
      <app-button class="buttons__clear-all"
        buttonStyle="secondary"
        buttonType="button"
        buttonText="Clear all"
        (click)="onClearAll()"
        >
        Clear all
      </app-button>
    </div>
  </div>
  <div class="regions">
    <div class="region"
      *ngFor="let region of regions"
      >
      <img class="region__icon"
        src="assets/icons/{{region}}.svg"
        [alt]="region"
      />
      <section class="region__wrapper">
        <div [formGroupName]="region">
          <input class="region__checkbox"
            #regionInput
            type="checkbox"
            [id]="region"
            [value]="region"
            formControlName="checked"
            [indeterminate]="form.value[region].indeterminate"
            (change)="onRegionChange(regionInput)"
          />
          <label class="region__label"
            [for]="region"
            >
            {{region}} <span class="bold">({{tally[region]}} / {{countriesByRegion[region].length}})</span>
          </label>
        </div>
        <div class="subregion"
          *ngFor="let subregion of subregionsByRegion[region]"
          >
          <input class="subregion__checkbox"
            #subregionInput
            type="checkbox"
            [id]="subregion"
            [value]="subregion"
            [formControlName]="subregion"
            (change)="onSubregionChange(regionInput)"
            />
          <label class="subregion__label"
            [for]="subregion"
            >
            {{subregion}} <span class="bold">({{countriesBySubregion[subregion].length}})</span>
          </label>
        </div>
      </section>
    </div>
  </div>
</form>
