@import 'styles';

:host {
  display: flex;
  flex-direction: column;
  position: relative;
}

:host ::ng-deep input {
  width: 100%;
  padding: map-get($spacing, 8);
  border: map-get($border, thin) solid transparent;
  border-radius: map-get($border, radius);
  background: map-get($color, white);
  color: map-get($color, darkest);
  font-family: $font-stack;
  font-size: map-get($font-size, 16);
  transition: map-get($transition, border);

  &::placeholder {
    font-style: $font-stack;
    color: map-get($color, medium);
  }

  &:focus {
    border-color: map-get($color, medium);
  }

  &:disabled {
    background: map-get($color, medium);
    cursor: not-allowed;
  }
}

.error {
  position: absolute;
  width: 100%;
  bottom: -32px;
}
