@import 'styles';

.content {
  position: relative;
  margin-left: map-get($app, navigation-width);

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: map-get($app, gap);
    min-height: 100vh;

    &--no-scroll {
      height: 100vh;
      overflow: hidden;
    }
  }
}
