@import 'styles';

.content {
  padding-top: map-get($app, navigation-height);

  &__wrapper {
    @include quiz-width;
    min-height: map-get($app, page-height);
    display: flex;
    flex-direction: column;
    justify-content: center;

    &--no-scroll {
      height: map-get($app, page-height);
      overflow: hidden;
    }
  }
}
