@import 'styles';

.content {
  padding-top: map-get($app, navigation-height);

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 map-get($spacing, 48);
    min-height: map-get($app, page-height);

    &--no-scroll {
      height: map-get($app, page-height);
      overflow: hidden;
    }
  }
}
