@import 'styles';

:host {
  line-height: map-get($line-height, normal);
  margin-right: map-get($spacing, 16);
}

.category {
  @include small-caps;
  margin-bottom: map-get($spacing, 2);
}
