<div @fadeIn
  *ngIf="vm$ | async as vm"
  >
  <app-list-details
    [items]="vm.filteredCountries"
    [listItemTemplate]="listItemTemplate"
    [detailsTemplate]="detailsTemplate"
    [getItemUniqueId]="getCountryCode"
    [selectedItem]="vm.selectedCountry"
    [searchTerm]="vm.searchTerm"
    (selectedItemChange)="onSelect($event)"
    (searchTermChange)="onSearch($event)"
    >
  </app-list-details>

  <ng-template #listItemTemplate
    let-country
    >
    <div class="list-item">
      <h3>{{country.name}}</h3>
    </div>
  </ng-template>

  <ng-template #detailsTemplate
    let-country
    >
    <app-explore-country
      [country]="country"
      [summary]="vm.summary"
      >
    </app-explore-country>
  </ng-template>
</div>
