<form class="form"
  #optionForm="ngForm"
  >
  <div class="text">
    {{text}}
  </div>
  <div class="options">
    <div class="option"
      *ngFor="let option of options"
      >
      <input class="option__input"
        [id]="option.display"
        [value]="option"
        (change)="onChange()"
        [(ngModel)]="model"
        type="radio"
        name="option"
        />
      <label class="option__label"
        [for]="option.display"
        >
        {{option.display}}
      </label>
    </div>
  </div>
</form>
