@import 'variables';

.quiz-menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: map-get($color, dark);
  border-top: 4px solid map-get($color, medium);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: map-get($z-index, quiz-menu);
  transform: translateY(-100vh);

  &__outcome {
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__progress {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__item {
    flex: 0 0 33.33%;
    text-align: center;
  }
}
