@import 'variables';

.quiz-menu {
  --header-height: 10vh;

  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: map-get($color, dark);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: map-get($z-index, quiz-menu);
  transform: translateY(-100vh);

  &__wrapper {
    max-width: 1550px;
    width: 90%;
    margin: 0 auto;
  }

  &__outcome {
    height: 90vh;
    padding-top: var(--header-height);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-accuracy {
      font-size: map-get($font-size, accuracy);
    }
  }

  &__progress {
    height: var(--header-height);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item {
    flex: 0 0 33.33%;
    text-align: center;
  }

  &__tally {
    text-align: left;
  }

  &__guess {
    text-align: right;
  }
}
