<main class="quiz-menu"
  [@position]="positionState"
  >
  <div class="quiz-menu__wrapper">
    <article class="quiz-menu__outcome">
      <p class="quiz-menu__outcome-text">
        Quiz complete! You scored
      </p>
      <h1 class="quiz-menu__outcome-accuracy">
        {{accuracy}}%
      </h1>
    </article>
    <nav class="quiz-menu__progress">
      <h4 class="quiz-menu__tally">
        {{currentIndex}} / {{countries.length}}
      </h4>
      <p class="quiz-menu__prompt">
        {{countries[currentIndex]?.name}}
      </p>
      <h4 class="quiz-menu__guess">
        Guess #{{guess}}
      </h4>
    </nav>
  </div>
</main>
