<app-fixed-slideable-panel [position]="position">
  <app-fixed-slideable-panel-content>
    <div class="quiz-menu__outcome"
      *ngIf="quizCompleted"
      >
      <p class="quiz-menu__outcome-text">
        Quiz complete! You scored
      </p>
      <h1 class="quiz-menu__outcome-accuracy">
        {{accuracy}}%
      </h1>
    </div>
  </app-fixed-slideable-panel-content>
  <app-fixed-slideable-panel-header>
    <div class="quiz-menu__progress"
      *ngIf="!quizCompleted"
      >
      <h4 class="quiz-menu__progress-tally">
        {{currentIndex}} / {{totalCountries}}
      </h4>
      <p class="quiz-menu__progress-prompt">
        <ng-container *ngTemplateOutlet="promptTemplate">
        </ng-container>
      </p>
      <h4 class="quiz-menu__progress-guess">
        Guess #{{guess}}
      </h4>
    </div>
  </app-fixed-slideable-panel-header>
</app-fixed-slideable-panel>



<ng-template #countryTemplate>
  {{currentCountry.name}}
</ng-template>

<ng-template #capitalTemplate>
  {{currentCountry.capital}}
</ng-template>
