$color: (
  darkest-inset: hsl(197, 20%, 12%),
  darkest: hsl(197, 20%, 15%),
  dark: hsl(200, 18%, 23%),
  medium-dark: hsl(200, 11%, 41%),
  medium: hsl(201, 22%, 68%),
  light: hsl(187, 37%, 83%),
  lightest: hsl(182, 82%, 93%),
  white: hsl(0, 100%, 100%)
);
