$breakpoints: (
  large-desktop: 1200px
);

@mixin large-desktop {
  @media (min-width: #{map-get($breakpoints, large-desktop)}) {
    @content;
  }
}

@mixin quiz-width {
  max-width: (map-get($app, quiz-card-width) * 5) + (map-get($app, quiz-cards-grid-gap) * 4);
  width: 90%;
}
