// ==================
// COLORS
// ==================

$color: (
	darkest: #253237,
	dark: #5C6B73,
	medium: #9DB4C0,
	light: #C2DFE3,
  lightest: #E0FBFC,
  white: #FFF
);

// ==================
// TYPOGRAPHY
// ==================

$sans-serif: 'Tajawal', Frutiger, 'Frutiger Linotype', Univers, Calibri, 'Gill Sans', 'Gill Sans MT', 'Myriad Pro', Myriad, 'DejaVu Sans Condensed', 'Liberation Sans', 'Nimbus Sans L', Tahoma, Geneva, 'Helvetica Neue', Helvetica, Arial, sans-serif;


// ==================
// STYLES
// ==================

$z-index: (
  positive: 1,
  none: 0,
  negative: -1
);

$border-radius: 2px;
$border-width: 20px;
$edge-spacing: 4vh;


// ==================
// TRANSITIONS
// ==================

$transition: (
	fast: 100ms all ease-in-out,
	medium: 300ms all ease-in
);


// ==================
// ANIMATIONS
// ==================
