@import 'variables';
@import 'mixins';

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  color: map-get($color, lightest);
  background: map-get($color, darkest);
  font-family: $sans-serif;
	font-size: map-get($font-size, normal);
	font-weight: 300;
  line-height: 1;
  min-height: 100vh;
	position: relative;
}
