@import 'styles';

:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: map-get($app, header-height);
  left: 0;
  width: map-get($app, navigation-width);
  height: calc(100vh - #{map-get($app, header-height)});
  background: map-get($color, darkest);
  border-right: map-get($border, thin) solid map-get($color, dark);
  z-index: map-get($z-index, navigation);
}

.link {
  margin-bottom: map-get($spacing, 32);

  &:last-child {
    margin-bottom: 0;
  }
}
