<app-fixed-slideable-panel position="header">
  <app-container header>
    <app-icon class="home"
      left
      icon="Globetrotter"
      [highlighted]="true"
      (clicked)="navigateToHome()"
      >
    </app-icon>
    <ng-container center>
      <a appMenuLink
        *ngFor="let link of links"
        [name]="link.name"
        [selected]="navigationLink.isActive"
        [routerLink]="link.route"
        routerLinkActive
        [routerLinkActiveOptions]="{exact: link.exactPathMatch}"
        #navigationLink="routerLinkActive"
        >
      </a>
    </ng-container>
    <app-icon class="account"
      right
      icon="User"
      [highlighted]="true"
      (clicked)="navigateToAccount()"
      >
    </app-icon>
  </app-container>
</app-fixed-slideable-panel>
