<app-fixed-slideable-panel position="header">
  <app-container header>
    <ng-container left>
      <a class="icon-link"
        appLink
        [selected]="homeLink.isActive"
        [routerLink]="home.route"
        routerLinkActive
        [routerLinkActiveOptions]="{exact: home.exactPathMatch}"
        #homeLink="routerLinkActive"
        >
        <app-icon
          [icon]="home.icon"
          [highlighted]="true"
          >
        </app-icon>
      </a>
    </ng-container>
    <ng-container center>
      <a appLink
        *ngFor="let link of links"
        [selected]="navigationLink.isActive"
        [routerLink]="link.route"
        routerLinkActive
        [routerLinkActiveOptions]="{exact: link.exactPathMatch}"
        #navigationLink="routerLinkActive"
        >
        {{link.name}}
      </a>
    </ng-container>
    <ng-container right>
      <a class="icon-link"
        appLink
        [selected]="accountLink.isActive"
        [routerLink]="account.route"
        routerLinkActive
        [routerLinkActiveOptions]="{exact: account.exactPathMatch}"
        #accountLink="routerLinkActive"
        >
        <app-icon
          [icon]="account.icon"
          [highlighted]="true"
          >
        </app-icon>
      </a>
    </ng-container>
  </app-container>
</app-fixed-slideable-panel>
