<app-fixed-slideable-panel position="header">
  <app-container header>
    <ng-container left>
      <ng-container *ngTemplateOutlet="linkTemplate; context: { $implicit: home }">
      </ng-container>
    </ng-container>
    <ng-container center>
      <ng-container *ngFor="let link of links">
        <ng-container *ngTemplateOutlet="linkTemplate; context: { $implicit: link }">
        </ng-container>
      </ng-container>
    </ng-container>
    <ng-container right>
      <ng-container *ngTemplateOutlet="linkTemplate; context: { $implicit: account }">
      </ng-container>
    </ng-container>
  </app-container>
</app-fixed-slideable-panel>

<ng-template #linkTemplate
  let-link
  >
  <a appLink
    [ngClass]="{'icon-link': link.icon}"
    [selected]="navigationLink.isActive"
    [routerLink]="link.route"
    routerLinkActive
    [routerLinkActiveOptions]="{exact: link.exactPathMatch}"
    #navigationLink="routerLinkActive"
    >
    <app-icon *ngIf="link.icon; else linkName"
      [icon]="link.icon"
      [highlighted]="true"
      >
    </app-icon>
    <ng-template #linkName>
      {{link.name}}
    </ng-template>
  </a>
</ng-template>
