@import 'variables';

.category {
  display: flex;
  flex: 0 1 50%;
  align-items: center;
  padding: 2rem 0;
  position: relative;

  &__icon {
    $icon-height: 15rem;
    height: $icon-height;
    padding-right: 2rem;

    &-cover {
      position: absolute;
      width: $icon-height;
      height: $icon-height;
      transform: translateY(-50%);
      top: 50%;
      left: 0;
      z-index: map-get($z-index, positive);
      background: map-get($color, darkest);
      filter: blur(50px);
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  // the <label> of the checkbox becomes the container
  &__checkbox {
    font-weight: 700;
    position: relative;
    margin-bottom: 5px;

    &-label {
      color: map-get($color, medium);

      &--active {
        color: map-get($color, lightest);
      }
    }
  }
}

// the <label> of the checkbox becomes the container
.subcategory {

  &__checkbox {
    position: relative;
	  margin-bottom: 5px;
    margin-left: 20px;

    &-label {
      color: map-get($color, medium);

      &--active {
        color: map-get($color, lightest);
      }
    }
  }

}
