<!-- {{categoryModel | json}} -->
<main class="category">
  <img class="category__icon"
    src="assets/icons/{{data.name}}.svg"
    [alt]="category"
  />
  <div class="category__icon-cover"
    *ngIf="categoryModel.checkboxState === 'unchecked'"
  ></div>
  <section class="category__wrapper">
    <label class="category__checkbox"
      >
      <input class="category__checkbox-input"
        [id]="data.name"
        [value]="data.name"
        [indeterminate]="categoryModel.checkboxState === 'indeterminate'"
        [checked]="categoryModel.checkboxState === 'checked'"
        (change)="onCategoryChange()"
        type="checkbox"
      />
      <span class="category__checkbox-element"></span>
      <span class="category__checkbox-label">
        {{data.name}}
        <!-- TODO: figure out a good way to get the total country tally -->
        <!-- old code: <span class="bold">({{tally[data.name]}} / {{dataByCategory.length}})</span> -->
      </span>
    </label>
    <label class="subcategory__checkbox"
      *ngFor="let subcategory of categoryModel.subcategories"
      >
      <input class="subcategory__checkbox-input"
        [id]="subcategory"
        [value]="subcategory"
        [(ngModel)]="subcategory.isChecked"
        (change)="onSubcategoryChange()"
        type="checkbox"
        />
      <span class="subcategory__checkbox-element"></span>
      <span class="subcategory__checkbox-label">
        {{subcategory.name}}
        <span class="bold">
          ({{subcategory.subcategories.length}})
        </span>
      </span>
    </label>
  </section>
</main>
