<!-- {{model | json}} -->
<main class="category">
  <img class="category__icon"
    *ngIf="imagePath"
    [src]="imagePath"
    [alt]="category"
  />
  <div class="category__icon-cover"
    *ngIf="imagePath && model.checkboxState === 'unchecked'"
  ></div>
  <section class="category__wrapper">
    <label class="category__checkbox"
      >
      <input class="category__checkbox-input"
        [value]="model.name"
        [indeterminate]="model.checkboxState === 'indeterminate'"
        [checked]="model.checkboxState === 'checked'"
        (change)="onCategoryChange()"
        type="checkbox"
      />
      <span class="category__checkbox-element"></span>
      <span class="category__checkbox-label">
        {{model.name}}
        <span class="bold">
          ({{model.current}} / {{model.total}})
        </span>
      </span>
    </label>
    <label class="subcategory__checkbox"
      *ngFor="let subcategory of model.subcategories"
      >
      <input class="subcategory__checkbox-input"
        [value]="subcategory"
        [(ngModel)]="subcategory.isChecked"
        (change)="onSubcategoryChange(subcategory)"
        type="checkbox"
        />
      <span class="subcategory__checkbox-element"></span>
      <span class="subcategory__checkbox-label">
        {{subcategory.name}}
        <span class="bold">
          ({{subcategory.total}})
        </span>
      </span>
    </label>
  </section>
</main>
