@import 'styles';

.form {
  display: grid;
}

.selection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-bottom: map-get($spacing, 24);

  @include large-desktop {
    flex-direction: row;
  }

  &__counter {
    display: flex;
    align-items: center;
    font-size: map-get($font-size, 36);
    margin-bottom: map-get($spacing, 24);

    @include large-desktop {
      margin-bottom: 0;
    }

    &-number {
      font-weight: map-get($font-weight, bold);
    }
  }

  &__select-all {
    margin-right: map-get($spacing, 24);
  }
}

.items {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;

  @include large-desktop {
    grid-template-columns: 1fr 1fr;
    justify-items: left;
  }
}
