@import 'styles';

.form {
  display: grid;
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: map-get($spacing, 24);

  @include large-desktop {
    flex-direction: row;
  }

  &--space-between {
    justify-content: space-between;
  }

  &__counter {
    font-size: map-get($font-size, 36);
    margin-bottom: map-get($spacing, 24);

    @include large-desktop {
      margin-bottom: 0;
    }
  }

  &__select-all {
    margin-right: map-get($spacing, 24);
  }
}

.items {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;

  @include large-desktop {
    grid-template-columns: 1fr 1fr;
    justify-items: left;
  }
}

.item {
  padding: map-get($spacing, 16) 0;
  width: 500px;

  @include large-desktop {
    width: 100%;
  }
}
