@import 'styles';

.form {
  display: grid;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: map-get($spacing, 24);

  &__tally {
    display: flex;
    align-items: center;
    font-size: map-get($font-size, 36);

    &-number {
      font-weight: map-get($font-weight, bold);
    }
  }

  &__select-all {
    margin-right: map-get($spacing, 32);
  }
}

.categories {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
