<div class="total">
  <div class="total__tally">
    <span class="total__tally-number">
      {{model.current}} / {{model.total}}&nbsp;
    </span>
    <span class="total__tally-text">
      possible countries selected.
    </span>
  </div>
  <div class="total__buttons">
    <app-button class="total__select-all"
      buttonStyle="secondary"
      buttonText="Select all"
      (click)="onSelectAll()"
      >
    </app-button>
    <app-button class="total__clear-all"
      buttonStyle="secondary"
      buttonText="Clear all"
      (click)="onClearAll()"
      >
    </app-button>
  </div>
</div>
<div class="regions">
  <app-nested-checkboxes class="region"
    *ngFor="let region of regions"
    [region]="region"
    [allChecked]="allChecked"
    imagePath="{{imagePath}}/{{region.name}}.{{imageType}}"
    (modelChanged)="onModelChange($event)"
  ></app-nested-checkboxes>
</div>
