<div class="top"
  [ngClass]="{'top--space-between': showTopCounter}"
  >
  <app-counter class="top__counter"
    *ngIf="showTopCounter"
    [current]="showCounters && current"
    [total]="showCounters && total"
    [text]="text"
    [boldNumbers]="true"
    >
  </app-counter>
  <div class="top__buttons">
    <app-button class="top__select-all"
      buttonStyle="secondary"
      buttonText="Select all"
      (click)="onSelectAll()"
      >
    </app-button>
    <app-button class="top__clear-all"
      buttonStyle="secondary"
      buttonText="Clear all"
      (click)="onClearAll()"
      >
    </app-button>
  </div>
</div>
<div class="items">
  <app-nested-checkboxes class="item"
    *ngFor="let item of items"
    [item]="item"
    [treeProvider]="treeProvider"
    [renderer]="renderer"
    [showCounters]="showCounters"
    [showImage]="showImages"
    [ngModel]="checkboxStates"
    (ngModelChange)="updateCheckboxStates($event)"
  ></app-nested-checkboxes>
</div>
