@import 'styles';

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: map-get($font-size, 96);
  margin-bottom: map-get($spacing, 24);
}

.divider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: map-get($spacing, 64);

  &__line {
    width: map-get($spacing, 256);
    border: none;
    border-top: 9px double map-get($color, medium-dark); // 9px used to match icon line width
    margin: map-get($spacing, 48) auto;
    position: relative;
  }

  &__icon {
    position: absolute;
    background: map-get($color, darkest);
    width: map-get($spacing, 128);
    padding: 0 map-get($spacing, 12);
  }
}
