/*
Use these values for spacing and sizing. A hand-crafted type scale
(source: Refactoring UI, page 73)
*/
$spacing: (
  2: 2px, // 16 * 0.125
  4: 4px, // 16 * 0.25
  8: 8px, // 16 * 0.5
  12: 12px, // 16 * 0.75
  16: 16px, // 16 * 1 <=== base value
  24: 24px, // 16 * 1.5
  32: 32px, // 16 * 2
  48: 48px, // 16 * 3
  64: 64px, // 16 * 4
  96: 96px, // 16 * 6
  128: 128px, // 16 * 8
  192: 192px, // 16 * 12
  256: 256px, // 16 * 16
  384: 384px, // 16 * 24
  512: 512px, // 16 * 32
  640: 640px, // 16 * 40
  768: 768px // 16 * 48
);

$z-index: (
  modal: 400,
  header: 300,
  fixed-slideable-panel: 200,
  navigation: 100,
  positive: 1,
  none: 0,
  negative: -1
);

$border: (
  radius: 2px,
  thinnest: 1px,
  thin: 2px,
  medium: 4px,
  thick: 20px
);

$app: (
  header-height: map-get($spacing, 64),
  navigation-width: map-get($spacing, 96),
  gap: map-get($spacing, 12),
  card-width: map-get($spacing, 256)
);
