<div class="account"
  *ngIf="authData$ | async as authData"
  >
  <app-alert class="alert"
    *ngIf="alertMessage"
    type="success"
    [large]="true"
    >
    {{alertMessage}}
  </app-alert>
  <div class="details">
    <div class="details__user">
      <app-icon class="avatar"
        icon="User"
        >
      </app-icon>
      <h1 class="username">
        {{authData?.username}}
      </h1>
    </div>
    <app-button
      buttonText="Sign Out"
      (clicked)="logout()"
      >
    </app-button>
  </div>
</div>
